<aside>
    <h3>Links</h3>
    <ul>
        <?php foreach($this->externalLinks as $name => $href): ?>
            <li><a class="awesome green small" href="<?php echo $href; ?>" title="<?php echo $name; ?>"><?php echo $name; ?></a></li>
        <?php endforeach; ?>
    </ul>
</aside>