<aside>
    <h3>Standard Packs</h3>
    <div class="select-menu-frame">
        <div id="select-menu">
            <div class="select-menu-spacer in"></div>
            <ul>
                <?php foreach($this->selectMenu as $key => $item): ?>
                    <li><a id="select-item-<?php echo $key; ?>" class="awesome red small" href="<?php echo $this->baseUrl('p/'.$key); ?>"><?php echo $item; ?></a></li>
                <?php endforeach; ?>
            </ul>
            <div class="select-menu-spacer out"></div>
        </div>
        <img class="select-menu-kinetic-in" src="<?php echo $this->baseUrl('images/kinetic_in.png'); ?>" alt="kinetic in" />
        <img class="select-menu-kinetic-out" src="<?php echo $this->baseUrl('images/kinetic_out.png'); ?>" alt="kinetic out" />
    </div>
</aside>