<article>
    <h1>Beatmap Pack #500</h1>
    <p class="info">Uploaded by <strong>Black Magic</strong> on <strong>21.12.2012</strong></p>
    <ul>
        <li><strong>Downloads:</strong> 321</li>
        <li><strong>Filesize:</strong> 99.3 MB</li>
        <li><strong>Maps included:</strong> 12</li>
    </ul>
    <h3>Maps</h3>
    <table>
        <thead>
            <tr>
                <th style="width: 1%;">Osu Id</th>
                <th>Title</th>
                <th style="width: 1%;">Size</th>
                <th style="width: 1%;">Download</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>#34562</td>
                <td class="highlight">Alina Puscau - When You Leave (Numa Numa) (Nightcore Mix)</td>
                <td>12.3 MB</td>
                <td><a href="#" class="awesome small red">Download</a></td>
            </tr>
            <tr>
                <td>#40233</td>
                <td class="highlight">Satou Satomi & Kayano Ai - Madoromi no Yakusoku (TV Size)</td>
                <td>7.4 MB</td>
                <td><a href="#" class="awesome small red">Download</a></td>
            </tr>
            <tr>
                <td>#40233</td>
                <td class="highlight">T.Kakuta With Starving Trancer + Mayumi Morinaga - XANA...</td>
                <td>7.4 MB</td>
                <td><a href="#" class="awesome small red">Download</a></td>
            </tr>
            <tr>
                <td>#34562</td>
                <td class="highlight">Alina Puscau - When You Leave (Numa Numa) (Nightcore Mix)</td>
                <td>12.3 MB</td>
                <td><a href="#" class="awesome small red">Download</a></td>
            </tr>
            <tr>
                <td>#40233</td>
                <td class="highlight">Satou Satomi & Kayano Ai - Madoromi no Yakusoku (TV Size)</td>
                <td>7.4 MB</td>
                <td><a href="#" class="awesome small red">Download</a></td>
            </tr>
            <tr>
                <td>#40233</td>
                <td class="highlight">T.Kakuta With Starving Trancer + Mayumi Morinaga - XANA...</td>
                <td>7.4 MB</td>
                <td><a href="#" class="awesome small red">Download</a></td>
            </tr>
            <tr>
                <td>#34562</td>
                <td class="highlight">Alina Puscau - When You Leave (Numa Numa) (Nightcore Mix)</td>
                <td>12.3 MB</td>
                <td><a href="#" class="awesome small red">Download</a></td>
            </tr>
            <tr>
                <td>#40233</td>
                <td class="highlight">Satou Satomi & Kayano Ai - Madoromi no Yakusoku (TV Size)</td>
                <td>7.4 MB</td>
                <td><a href="#" class="awesome small red">Download</a></td>
            </tr>
            <tr>
                <td>#40233</td>
                <td class="highlight">T.Kakuta With Starving Trancer + Mayumi Morinaga - XANA...</td>
                <td>7.4 MB</td>
                <td><a href="#" class="awesome small red">Download</a></td>
            </tr>
            <tr>
                <td>#34562</td>
                <td class="highlight">Alina Puscau - When You Leave (Numa Numa) (Nightcore Mix)</td>
                <td>12.3 MB</td>
                <td><a href="#" class="awesome small red">Download</a></td>
            </tr>
            <tr>
                <td>#40233</td>
                <td class="highlight">Satou Satomi & Kayano Ai - Madoromi no Yakusoku (TV Size)</td>
                <td>7.4 MB</td>
                <td><a href="#" class="awesome small red">Download</a></td>
            </tr>
            <tr>
                <td>#40233</td>
                <td class="highlight">T.Kakuta With Starving Trancer + Mayumi Morinaga - XANA...</td>
                <td>7.4 MB</td>
                <td><a href="#" class="awesome small red">Download</a></td>
            </tr>
        </tbody>
    </table>
    <p class="text-right"><a href="#" class="awesome large red">Download Pack</a></p>
    <h3>Disclaimer</h3>
    <p>All these packs have not been packed by us, we and the uploader mentioned are 
    not the owner of the packs. Images displayed in the header and lower right 
    corner of the page are not owned by us. All content is uploaded by users and we 
    cannot be held responsible for the content.</p>
</article>