* { padding: 0; margin: 0; }
body { color: #fff; font-family: Arial, Helvetica, sans-serif; background: rgb(55,55,55) url(images/black_linen_v2.png); font-size: 10pt; }
a, a:visited, a:active { color: #e33100; font-weight: bold; text-decoration: none; }
.content a:hover { text-shadow: 0 0 6px #ff5c00; }
table { width: 100%; border-spacing: 0; padding: 0 10px 10px 10px; }
td, th { padding: 4px; }
th { text-align: left; border-bottom: 2px solid #dfdfdf; }
td { border-bottom: 1px solid #dfdfdf; white-space: nowrap; }
tbody td.highlight { font-weight: bold; }
tr:last-child td { border-bottom: 0; }
tr:nth-child(odd) td { background-color: #efefef; }
tbody tr:hover td { background-color: #2daebf; border-bottom-color: #007d9a; color: #efefef; }

.wrapper { position: relative; width: 1000px; margin: 0 auto; padding: 10px; }
.awesome{
    background: #222 url(images/overlay-button.png) repeat-x;
    display: inline-block;
    padding: 5px 10px 6px 10px;
    color: #fff !important;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5) !important;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25) !important;
    border-bottom: 1px solid rgba(0,0,0,0.25) !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Sizes ---------- */
.small.awesome { font-size: 10pt; }
.medium.awesome { font-size: 12pt; }
.large.awesome { font-size: 14pt; padding: 8px 14px 9px; }
 
/* Colors ---------- */
.green.awesome, .green.awesome:visited		{ background-color: #91bd09; }	
.green.awesome:hover						{ background-color: #749a02; }	
.blue.awesome, .blue.awesome:visited		{ background-color: #2daebf; }	
.blue.awesome:hover							{ background-color: #007d9a; }	
.red.awesome, .red.awesome:visited			{ background-color: #e33100; }            
.red.awesome:hover							{ background-color: #872300; }

.group:after {
    visibility: hidden;
    display: block;
    clear: both;
    height: 0;
    font-size: 0;
    content: " ";
}
html .group {
    height: 1%;
}
:first-child+html .group {
    min-height: 1px;
}

/* Header */
header {
    position: relative;
	height: 110px;
    background-color: #008eca;
	background-image: url(images/overlay-box.png), url(images/clouds.png);
	background-repeat: repeat-x, no-repeat;
	background-position: 0px 0px, 40px 0px;
    padding: 5px 10px 6px;
    margin: 0 0 10px 0;
    color: #fff;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
header h1 { font-size: 22pt; margin: 29px 0 0 120px; text-shadow: 0 0 10px #fff; }
header p { line-height: 130%; color: rgba(255,255,255,.75); margin-left: 120px; text-shadow: 0 0 7px #fff; }
header .logo { float: left; background: url(images/newLogo.png) no-repeat; width: 115px; height: 115px; }

/* Navigation */
nav { margin: 0 0 10px 0; }
nav ul { list-style: none; }
nav li { float: left; padding: 0 10px 0 0; }
nav li.right { float: right; padding: 0 0 0 10px;}

/* Content */
.content {
    margin: 0 170px 0px 170px;
}
.content.error {
	margin: 0;
}

/* Panels */
.rightpanel {
    float: right;
}
.leftpanel {
    float: left;
}
.leftpanel,
.rightpanel {
    width: 160px;
}

/* Footer */
footer {
    position: relative;
    background: #222 url(images/overlay-button.png) repeat-x;
    padding: 5px 10px 6px;
    margin: 0 0 10px 0;
    color: #fff;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

/* Article */
article {
    border-top: 2px solid rgba(0,0,0,0.4);
    border-bottom: 2px solid rgba(0,0,0,0.4);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    background: rgb(255,255,255);
    color: #3f3f3f;
    border-radius: 5px;
    padding: 10px 0 10px 0;
    margin: 0 0 10px 0;
}
article h1 { 
    margin: 0 0 10px 0; 
    padding: 2px 10px; 
    background: #ff6f1e url(images/overlay-button.png) repeat-x; 
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    color: rgb(255,255,255);
}
article h2,
article h3 {
	margin: 0 10px 10px 10px;
	border-bottom: 1px solid #d9d9d9;
}
article pre {
	border: 1px solid #d9d9d9;
	background: #f9f9f9;
	overflow: auto;
	margin: 5px 15px 15px 15px;
	padding: 5px;
}
article .info { float: right; font-size: 9pt; color: #AfAfAf; }
article ul { list-style: none; margin: 0 0 10px 0; }
article ul li { margin: 0 0 5px 0; padding: 0 0 0 10px; }
/* Aside */
aside {
    border-top: 2px solid rgba(0,0,0,0.4);
    border-bottom: 2px solid rgba(0,0,0,0.4);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    background: rgb(255,255,255);
    color: rgb(0,0,0);
    border-radius: 5px;
    padding: 10px 0 10px 0;
    margin: 0 0 10px 0;
    font-size: 9pt;
}
aside h3 { 
    margin: 0 0 10px 0; 
    padding: 2px 10px; 
    background: #ff6f1e url(images/overlay-button.png) repeat-x; 
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    color: rgb(255,255,255);
}
aside ul { list-style: none; margin: 0 10px 0 10px; }
aside ul li { margin: 0 0 5px 0; }
aside ul li a { display: block !important; }
article p, aside p { line-height: 140%; margin: 0 10px 5px 10px; }
article strong, aside strong { color: #4f4f4f; }

.text-center { text-align: center; }
.text-right { text-align: right; }

#select-menu {
    position: relative;
    overflow: hidden;
    max-height: 390px;
}
.select-menu-frame {
	position: relative;
}
.select-menu-spacer {
	height: 35px;
    background-position: center center;
    background-repeat: no-repeat;
}
.select-menu-spacer.in { background-image: url(images/drag_up.png); }
.select-menu-spacer.out { background-image: url(images/drag_down.png); }
.select-menu-kinetic-in,
.select-menu-kinetic-out {
	position: absolute;
    height: 35px;
    width: 100%;
    display: block;
}
.select-menu-kinetic-in { top: 0; left: 0; right: 0; }
.select-menu-kinetic-out { bottom: 0; left: 0; right: 0; }