<?php echo $this->doctype(); ?>

<html>
<head>

<?php echo $this->headTitle(); ?>

<?php echo $this->headMeta(); ?>

<?php echo $this->headLink(); ?>

<?php echo $this->headScript(); ?>

</head>
<body>
    <div class="wrapper">
    
        <?php echo $this->render('header.phtml'); ?>
        
        <div class="main group">
            <div class="content error">
                <?php echo $this->layout()->content; ?>
            </div>
        </div>
        
        <?php echo $this->render('footer.phtml'); ?>
        
    </div>
</body>
</html>