<header class="group">
    <div class="logo"></div>
    <h1>osu!Mirror</h1>
    <p>Your offical mirror for map packs for the game osu!</p>
</header>

<nav class="group">
    <ul>
        <li><a class="medium red awesome" href="/p">Standard</a></li>
        <li><a class="medium red awesome" href="/t">Themes</a></li>
        <li><a class="medium red awesome" href="/n">Charts / misc</a></li>
        <li><a class="medium red awesome" href="/m">Maps</a></li>
        <li><a class="medium red awesome" href="/f">Search</a></li>
        <li class="right"><a class="medium blue awesome" href="/s">Helpers</a></li>
        <li class="right"><a class="medium green awesome" href="/i">Stats</a></li>
    </ul>
</nav>