<article>
    <h1>An error occurred</h1>
    <p><b><?php echo $this->message ?></b></p>
</article>
<?php if (isset($this->exception)): ?>
<article>
    <h1>Exception information:</h1>
    <p>
      <b>Message:</b> <?php echo $this->exception->getMessage() ?>
    </p>
    
    <h3>Stack trace:</h3>
    <pre><?php echo $this->exception->getTraceAsString() ?>
    </pre>
    
    <h3>Request Parameters:</h3>
    <pre><?php echo $this->escape(var_export($this->request->getParams(), true)) ?>
    </pre>
</article>
<?php endif ?>